* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --color-primary: #232323;
  --color-gray: #787878;
  --color-white: #fff;
  --color-green: #2abb0d;
  --color-yellow: #fcebb9;
  --color-blue: #c3ecff;
}
